<div class="user">
	<div class="col-md-9">
		<span class="user">
			<em><%= message.user.nombre + ' ' + message.user.appaterno %></em>
			:&nbsp;
		</span> 
		<span><%= message.message %></span>
	</div>
    <div class="col-md-3">
    	<span class="chat-hora"><small><%= message.created_at %></small></span>
	</div>
</div>
    	   	