/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep

#Upload from local machine to upload eventos & avisos
/config/secrets/*

/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key

local_env.yml