/.bundle
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/storage/*
!/storage/.keep

#Upload from local machine to upload eventos & avisos
 /public/uploads

/node_modules
/yarn-error.log
/public/assets
.byebug_history
/config/master.key
