<div class="container-fluid-crud">
	<h1>Actualizar Reconocimiento a Redes</h1>
	
	<%= render 'form', reconocimiento_rede: @reconocimiento_rede %>
	
	<%= link_to 'Mostrar', @reconocimiento_rede %> |
	<%= link_to 'Regresar', reconocimiento_redes_path %>
</div>