<h1>Editing Reconocimiento Rede</h1>

<%= render 'form', reconocimiento_rede: @reconocimiento_rede %>

<%= link_to 'Mostrar', @reconocimiento_rede %> |
<%= link_to 'Regresar', reconocimiento_redes_path %>
