 <div id="body-cert">
 	<h1>Dashboard Certificador</h1>
 	<% if logged_in?(:cert_site_admin) %>
		<%= render "shared/dashboard_administrador" %>
	<% elsif logged_in?(:certificador) %>
		<%= render "shared/dashboard_certificador" %>
		<% end %>
 </div>