<h1>este es el sitio de DAshboard de los certificadores</h1>

<p> verificar si se pueden agregar las escuelas y ver los avances </p>
<p> al dar click sobre la escuela se vera el avance y los pendientes por revisar  </p>
