 <div id="body-cert">
 <h1>Dashboard Certificador</h1>

<% if current_user.has_role?(:cert_site_admin, :certificador) %>
<div class="row">
	<%= form_tag(escuelas_path, :method => "get", class: 'navbar-form navbar-left') do %>
	  <div class="input-group">  
	    <%= search_field_tag :search, params[:search], placeholder: "Buscar Escuela ...", class: "form-control" %>  
	    <div class="input-group-btn">  
	      <%= button_tag "", class: "btn btn-info glyphicon glyphicon-search", :name => nil%>  
	    </div>  
	  </div>  
	<% end %>
</div>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Escuela</th>
      <th>Paso</th>
      <th>Estandar</th>
      <th>Avance</th>
      <th>Puntaje Total</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <%= @escuelas.inspect %>
         
      </tr>
       
    
  </tbody>
</table>

 </div>

