<div class="container">
  <div class="col-md-8">
     <%= image_tag "redes.jpg", width: 200 %>
  </div>
</div>
<p></p>

<div class="container">
  <div class="row">
  	<div class="col-md-8">
  		<p><h2>PROVEEMOS UN SISTEMA DE CERTIFICACIÓN PARA QUE LAS ESCUELAS IMPLEMENTEN UNA METODOLOGÍA EN GESTIÓN DE RIESGOS.</h2> </p>

  		<p>¡Certifícate en cinco pasos! Las escuelas necesitan disminuir los riesgos que pudieran afectar a sus alimnos, maestros y toda la comunidad escolar. RedEs facilita con este sistema de certificación, una metodología de gestión de riesgos para que las escuelas trabajen de manera constante y sistemática en la disminución de los riesgos que pudieran afectarlas. </p>

  		<p>En esta metodología las escuelas deben integrar un equipo de trabajo para elaborar periódicamente un diagnóstico de riesgos, así como para diseñar y ejecutar acciones que permitan prevenir, responder y recuperarse de posibles riesgos. La metodología se implementa durante el año escolar en los siguientes pasos:

		<li>(1)	Septiembre y Octubre: Integración y capacitación del equipo de trabajo.</li>
		<li>(2)	Noviembre y Diciembre: Identificación de riesgos.</li>     
		<li>(3)	Enero: Capacitación especializada.</li>
		<li>(4)	Febrero y Marzo: Diseño de acciones.</li>  
		<li>(5)	Mayo, Junio y Julio: Implementación de acciones</li> 
		</p>

		<p><h1>¿COMO FUNCIONA?</h1>
		<p>Nuestro sistema de certificación en la metodología de gestión de riesgos funciona a través de una plataforma virtual que sirve de guía durante todo el proceso. Las escuelas que decidan participar deberán cubrir los costos e inscribirse para iniciar su proceso en agosto de cada año. 

		La certificación está basada en un sistema de puntaje y al final del ejercicio, según el puntaje obtenido, la  escuela recibiría un certificado según el nivel de adopción de la metodología de gestión de riesgos. </p>

		<p><strong>BRONCE:</strong></p> La escuela aprende a aplicar la metodología de gestión de riesgos</p>
		<p><strong>PLATA:</strong></p> La escuela desarrolla un plan de acción con base en la metodología de gestión de riesgos.</p>
		<p><strong>ORO:</strong></p> La escuela implementa adecuadamente la metodología de gestión de riesgos</p>

		<p><strong>COSTOS</strong></p>

		0 –alimnos   		$$
		101- 250 alimnos 		$$$
		Más de 250 alimnos	$$$$

		<p><h1>REQUISITOS</h1></p>

		<p>La certificación es por plantel y podrán participar las escuelas del nivel preescolar, primaria y secundaria, así como las de nivel bachillerato, educación profesional técnica, técnico superior, licenciatura y posgrado, las cuales deberán:</p>

		<p>
			<li>Tener un programa de estudios conforme al calendario oficial vigente.</li>
			<li>Designar a una persona como mínimo de medio tiempo como responsable del proceso. </li>
			<li>Brindar a la persona responsable del proceso, del equipo necesario (Computadora, escritorio, Internet)</li>
			<li>Contar con el acuerdo del titular de la institución para participar en el proceso. </li>
			<li>Realizar el pago y registrarse en los plazos previamente establecidos.</li>
		</p>

		<p><h1>PERFIL PARA LA O EL ENCARGO DEL PROCESO</h1></p>

		<p>Es recomendable que la persona que sea designada para hacerse cargo del proceso pudiera cumplir con el siguiente perfil: </p>

		<p>
			<li>Dedicar medio tiempo de su jornada diaria a este ejercicio durante el año escolar en curso.</li>
			<li>Contar con el apoyo del titular de la institución </li>
			<li>Tener capacidades necesarias para poder coordinar a su equipo de trabajo. </li>
			<li>Contar con habilidades para establecer y mantener relaciones con instituciones gubernamentales y no gubernamentales. </li>
			<li>Preferentemente con conocimientos o experiencia en protección civil y/o seguridad pública. </li>
			<li>Tener conocimientos básicos en el uso de computadoras e Internet.</li>
			<li>Tener mínimo 2 años continuos trabajando en esa institución. </li>
		</p>

		<p><h1>PREGUNTAS FRECUENTES</h1></p>

		<p>
		<li><h4>¿Puede mi escuela participar en este proceso de certificación?</h4></li>
		<li>Puede participar cualquier institución de nivel básico, medio o superior que cuente con un plantel </li>
		</p>

		<p>
			<li><h4>¿Qué implica el proceso de certificación?</h4></li>
			<li>La asignación de una persona responsable del proceso por medio tiempo durante un año, con el posible apoyo de un equipo de trabajo de la misma institución y del propio titular. </li>
		</p>
		
		<p>
			<li><h4>¿Cómo se desarrolla el proceso?</h4></li>
			<li>Todo el proceso se desarrolla a través de una plataforma virtual en donde el responsable y su equipo se capacitan, consultan y utilizan materiales, presentan el trabajo realizado y van obteniendo puntos. </li>
		</p>

		<p>
			<li><h4>¿Quiénes deben integrar el equipo de trabajo?</h4></li>
			<li>El proceso lo puede llevar a cabo una sola persona, pero lo ideal es que además se integren tres profesionales de diferentes disciplinas y el titular de la institución.</li>
		</p>

		<p>  
			<li><h4>¿Qué tan seguido se debe reunir el equipo de trabajo?</h4></li>
			<li>Una vez al mes es suficiente para llevar un proceso con éxito. </li>
		</p>

		<p>
			<li><h4>¿Cuánto tiempo lleva obtener el certificado?</h4></li>
			<li>El proceso dura lo que dura todo el año escolar. </li>
		</p>

		<p>
			<li><h4>¿Quién estará apoyándome en este proceso?</h4></li>
			<li>RedEs asignará a un asesor específico que estará contestando todas las dudas y estará apoyando durante todo el proceso a través de la plataforma virtual.</li>
		</p>  

		<p>
			<li><h4>¿Quién me estaría certificando?</h4></li>
			<li>RedEs con el aval de su consejo consultivo es quien firma el certificado. </li>
		</p>

	</div>
	<div class="col-md-4">
		<div class="certificate">
			<h1><%= link_to "¡CERTIFICATE EN 5 PASOS!", etapa_certificacions_path %></h1>
			
			<h3>Preguntas Frecuentes</h3>
		</div>
		<div class="sucede">
			<h1>HAZ QUE SUCEDA</h1>
			<p>Más del 50% de los niños que mueren en terremotos cada año mueren dentro de los edificios de sus escuelas. </p>

			(Ejemplo 2)

			(Ejemplo 3)

			<p>La metodología en gestión de riesgos contribuirá a la implementación de las mejores prácticas a nivel internacional para tener una escuela más segura.</p>

		</div>

  </div>
</div>
  
