<%= render "shared/application_nav_reconocimientos" %>
<div class="container-fluid">
  <div class="col-md-6">
     <h1>Reconocimientos</h1>
  </div>
  <div class="col-md-6">
     <%= image_tag "redes.jpg", width: 400 %>
  </div><hr>
</div>