<%= render "shared/application_nav_reconocimientos" %>
<div class="container-fluid-crud">
	<div class="col-md-4">
     <h1>Reconocimientos</h1>
  </div>
  <div class="col-md-8">
     <%= image_tag "redes.jpg", width: 400 %>
  </div><hr>
</div>