<%= render 'shared/certificate_sidebar' %>
<div id="body-cert">
	<h1>Modificar Estandar </h1>

	<%= render 'form', estandar_etapa_certificacion: @estandar_etapa_certificacion %>
	
	<%= link_to 'Mostrar', @estandar_etapa_certificacion, class: "btn btn-success btn-lg" %> 
</div>
	 
</div>
