<h1>Modificar Estandar </h1>

<%= render 'form', estandar_etapa_certificacion: @estandar_etapa_certificacion %>

<%= link_to 'Mostrar', @estandar_etapa_certificacion %> |
<%= link_to 'Regresar', estandar_etapa_certificacions_path %>
