<%= render 'shared/certificate_sidebar' %>
<div class="main">
	<h1>Crear Estandar</h1>
	
	<%= render 'form', estandar_etapa_certificacion: @estandar_etapa_certificacion %>
	
	<%= link_to 'Regresar', estandar_etapa_certificacions_path %>
</div>
