<div class="container-crud">
<h1>Actualizar Etapa Certificacion</h1>

<%= render 'form', etapa_certificacion: @etapa_certificacion %>

<%= link_to 'Show', @etapa_certificacion %> |
<%= link_to 'Back', etapa_certificacions_path %>
