<%= render 'shared/certificate_sidebar' %>
<div id="body-cert">
<h1>Agregar Paso para Certificación</h1>

<%= render 'form', etapa_certificacion: @etapa_certificacion %>

<%= link_to 'Regresar', etapa_certificacions_path %>
</div>
