<div class="container-fluid-crud">

<p>
  <strong>Nombre:</strong>
  <%= @etapa_certificacion.nombre %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @etapa_certificacion.descripcion %>
</p>

<%= link_to 'Modificar', edit_etapa_certificacion_path(@etapa_certificacion) if logged_in?(:certificador, :admin) %> |
<%= link_to 'Regresar', etapa_certificacions_path %>
</div>
