<%= render 'shared/certificate_sidebar' %>
<div id="body-cert">
	<h1>Actualizar Datos Certificador</h1>
	<p><%= link_to 'Mostrar', @certificador, class: "btn btn-info btn-lg" %>
	<%= link_to 'Regresar', certificadors_path, class: "btn btn-warning btn-lg" %></p>
	<hr>

	 	<%= render 'form', certificador: @certificador %>

	
</div>
