<div class="container-fluid-crud">
	<h1>Actualizar pagina de inicio Certificate</h1>
	
	<%= render 'form', acercade_certificate: @acercade_certificate %>
	
	<%= link_to 'Mostrar', @acercade_certificate %> |
	<%= link_to 'Regresar', reconocimientos_path %>

</div>
