<div class="container-fluid-crud">
<% if current_user %>
   <h1>Actualizar Acerca de RedES</h1>
   
   <%= render 'form', acercade: @acercade %>
   
   <%= link_to 'Mostrar', @acercade %> |
   <%= link_to 'Regresar', root_path %>
<% end %>
</div>
