<% if current_user %>
<p id="notice"><%= notice %></p>

<h1>Acercades</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @acercades.each do |acercade| %>
      <tr>
        <td><%= acercade.descripcion %></td>
        <td><%= link_to 'Mostrar', acercade %></td>
        <td><%= link_to 'Actualizar', edit_acercade_path(acercade) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% end %>
