<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @acercade.descripcion %>
</p>

<%= link_to 'Modificar', edit_acercade_path(@acercade) %> |
<%= link_to 'Regresar', root_path %>
