<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @acercade.descripcion %>
</p>

<%= link_to 'Edit', edit_acercade_path(@acercade) %> |
<%= link_to 'Back', acercades_path %>
