<div id="blog" class="container-fluid-grey">
  <div class="row">
    <h2 class="nosotros-titulo"><strong>blog</strong>
      <% if user_signed_in? %>
            <%= link_to 'Editar', edit_aviso_path(@avisos),class: "btn btn-default btn-lg"  %>
      <% end %>
    </h2>
    <div class="col-md-6">
      <p><%= @avisos.detalle %></p><br>
    </div>
    <div class="col-md-6 nosotros-enfoque">
       <%= image_tag @avisos.imagen %>
    </div>
  </div>
</div>
