<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Sobre Nosotros</h2>
      <h4>Sed laoreet mollis purus</h4>
      <p>In sollicitudin fermentum enim non imperdiet. Curabitur volutpat suscipit mauris, in scelerisque magna dapibus ut. Suspendisse sodales dolor eu nulla feugiat, in faucibus diam finibus.</p>
      <button class="btn btn-default btn-lg">Contáctanos</button>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<div class="container-fluid bg-grey">
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo"></span>
    </div>
    <div class="col-sm-8">
      <h2>Nuestros Valores</h2>
      <h4><strong>MISIÓN:</strong> Nuesra Misión Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</h4>
      <p><strong>VISIÓN:</strong> Nuestra Visión Mauris pretium at est sit amet dapibus. Sed pretium massa eget dolor egestas, sed hendrerit mi convallis. Ut ac dignissim.</p>
    </div>
  </div>
</div>
