<footer class="container-fluid text-center">
  <a href="#myPage" title="Subir">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p>Copyright Derechos Reservados | WebRedES | Red de Escuelas Seguras</p>
</footer>