<div id="inicio" class="jumbotron text-center">
   <p><%= image_tag "redes.jpg", width: 400, alt: "profile image" %></p>
   <p><%= image_tag "acoso.jpg", width: 900, alt: "profile image" %></p>   
</div>
