<footer class="container-fluid text-center">
  <a href="#myPage" title="Subir">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a>
  <p><%= @copyright %> <%= link_to " Aviso de Privacidad", "#" %></p>
</footer>