<div class="jumbotron text-center">
   <p><%= image_tag "redes.jpg", width: 400, alt: "profile image" %></p>
   <p>Nos Especializamos en la Seguridad Escolar</p>
   <form class="form-inline">
      <div class="input-group">
        <input type="email" class="form-control" size="50" placeholder="correo electrónico" required>
        <div class="input-group-btn">
          <%= link_to "Suscríbete",  new_user_registration_path, class:'btn btn-primary' %>
        </div>
      </div>
   </form>
</div>
