<div id="portfolio" class="container-fluid text-center bg-grey">
  <h2>Portafolio</h2>
  <h4>Lo que hemos creado</h4>
  <div class="row text-center">
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag "colegio.jpg", width: 550, alt: 'Colegios' %>
        <p><strong>Colegios</strong></p>
        <p>Si!, atendemos Colegios</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag "escuela.jpg", width: 600, alt: 'Escuelas' %>
        <p><strong>Escuelas</strong></p>
        <p>Somos la base para Escuelas</p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="thumbnail">
        <%= image_tag "instituto.jpg", width: 500, alt: 'Institutos' %>
        <p><strong>Institutos</strong></p>
        <p>Si, tambien es nuestro alcance</p>
      </div>
    </div>
</div>
