<div id="eventos" class="container-fluid">
  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-film logo"></span>
      </div>
      <div class="col-sm-8">
        <h2>EVENTOS</h2>
        <h4>Sed laoreet mollis purus</h4>
        <p>In sollicitudin fermentum enim non imperdiet. Curabitur volutpat suscipit mauris, in scelerisque magna dapibus ut. Suspendisse sodales dolor eu nulla feugiat, in faucibus diam finibus.</p>
        <button class="btn btn-default btn-lg">Continuar leyendo</button>
      </div>
    </div>
  </div>
</div>
