<h2>Lo que nuestros clientes Opinan</h2>
<div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
    <h4>"Etiam luctus nunc non luctus feugiat. Donec finibus varius dapibus"<br><span style="font-style:normal;">Miguel de Unamuno, Vicepresidente, Colegio Alamos</span></h4>
    </div>
    <div class="item">
      <h4>"Donec eu iaculis metus. Suspendisse eget pretium nisi. "<br><span style="font-style:normal;">Juan Perez, Gerente de Ventas, Escuela Superior de Medicina UNAM</span></h4>
    </div>
    <div class="item">
      <h4>"Aenean nec nunc sed arcu lobortis tempor. Aenean ante ligula, semper non ultricies eu, ornare et neque."<br>
        <span style="font-style:normal;">Juan Olivarez Suarez, Director, Instituto Cumbres</span></h4>
    </div>
  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Anterior</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Siguiente</span>
  </a>
</div>
