<div class="banner">
	<div class="banner_backdrop">
          <% i = 0 %>
          <% while i < 3 do  %>
               <span class="gwd-span-1teu">&nbsp;crisis</span> 
               <span class="gwd-span-goe1">&nbsp;incendio </span>
               <span class="gwd-span-156q">&nbsp;emergencia</span>  
               <span class="gwd-span-w8di">&nbsp;redes sociales</span>  
               <span class="gwd-span-1teu">&nbsp;abuso sexual</span>
               <span class="gwd-span-goe1">&nbsp;drogas</span>
               <span class="gwd-span-1teu">&nbsp;alarmas</span>  
               <span class="gwd-span-w8di">&nbsp;derechos humanos</span>
               <span class="gwd-span-goe1">&nbsp;accidentes</span>
               <span class="gwd-span-w8di">&nbsp;responsabilidad civil</span>
               <span class="gwd-span-1teu">&nbsp;bullying</span> 
               <span class="gwd-span-goe1">&nbsp;robo </span>
               <span class="gwd-span-156q">&nbsp;video</span>  
               <span class="gwd-span-w8di">&nbsp;vigilancia</span>  
               <span class="gwd-span-1teu">&nbsp;inundacion</span>
               <span class="gwd-span-goe1">&nbsp;derrumbes</span>
               <span class="gwd-span-1teu">&nbsp;alarmas</span>  
               <span class="gwd-span-w8di">&nbsp;derechos humanos</span>
               <% i = i + 1 %>
          <% end %>
     </div>
</div>
      
