<div class="sidenav">
  <%= link_to "Inicio", etapa_certificacions_path %>
  <%= link_to "Etapa 1", etapa_certificacion_url(id: 1) %>
  <%= link_to "Etapa 2", etapa_certificacion_url(id: 2) %>
  <a href="#">Etapa 3</a>
  <a href="#">Etapa 4</a>
  <a href="#">Chat</a>
  <a href="#">Calendario</a>
  <a href="#">Biblioteca</a>
  <a href="#">Reprtes</a>
  <a href="#">Ayuda</a>
</div>