<% if current_user %>
<div class="sidenav">
    <%= link_to "Inicio", etapa_certificacions_path %>
    <% @etapa_certificacions.each do |etapa| %>
      <%= link_to "Etapa #{etapa.id}", etapa_certificacion_url(id: etapa.id) %>
    <% end %>
   
  <a href="#">Chat</a>
  <%= link_to 'Preguntas', preguntas_certs_path %>
  <a href="#">Calendario</a>
  <a href="#">Biblioteca</a>
  <a href="#">Reprtes</a>
  <a href="#">Ayuda</a>
</div>
<% end %>