<div class="container etapa-certificacion">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Razón Social</th>
          <th>Certificador </th>
          <th> Puntos Acumulados</th>
          <th> Avance Paso </th>
          <th> Avance Total </th>
        </tr>
    </thead>
    <tbody>
       
      </tbody>
    </table>
  </div>
  <p><%= link_to 'Dashboard', cert_escolars_path, class: "btn btn-success btn-lg" %></></p>
</div>