<div class="container-fluid-crud">
   <h1>Modificar Evento</h1>

   <%= render 'form', evento: @evento %>

   <%= link_to 'Mostrar', @evento %> |
   <%= link_to 'Regresar a Eventos', eventos_path %>

</div>
