<%= render "shared/application_nav_socios" %>
<div class="container-fluid-crud">
   <h1>Agregar Evento</h1>
   <%= render 'form', evento: @evento %>
   <%= link_to 'Regresar a Eventos', eventos_path %>
</div>