<p><em>Ubicación: <%= @event.lugar %></em></p>
<p>Detalle: <span><%= @event.detalle %></span></p>
<div class="imagen-show-evento">
    <p><%= image_tag @event.foto, size: 100 if @event.foto.attached? %></p>
</div>