$('#form-modal-title').html("Modificar Evento");
$('#form-modal-title').html("<h3>Modifcar Evento</h3><p></p>");
$('#form-modal-body').html('<%= j render("form" ) %>');
$('#form-modal').modal('show');
$('#form-modal-save-btn').click(function() {
	$('#new_tipo_montaje').submit();
});
