$('#form-modal-title').html("<h2><%= @event.titulo %></h2><p><%= @event.start.strftime('%d/%m/%Y %H:%M') %> - <%= @event.end.strftime('%d/%m/%Y %H:%M') %> </p>");
$('#form-modal-body').html('<%= j render("show" ) %>');
$('#form-modal').modal('show');