<%= render "shared/application_nav_socios" %>
<div class="container-fluid-crud">
	<h1>Modificar Estandares Cerficiacion</h1>

	<%= render 'form', estandares_cerficiacion: @estandares_cerficiacion %>

	<%= link_to 'Mostrar', @estandares_cerficiacion %> |
	<%= link_to 'Regresar', estandares_cerficiacions_path %>
</div>