<%= render "shared/application_nav_reconocimientos" %>
<div class="container-fluid-crud">
	<h1>Crear Estandares Cerficiacion</h1>
	<%= render 'form', estandares_cerficiacion: @estandares_cerficiacion %>
	<%= link_to 'Regresar', estandares_cerficiacions_path %>
</div>
