<%= render "shared/application_nav_socios" %>
<div class="container-fluid-crud">
<h1>Modificar Evidencia Estandar</h1>

<%= render 'form', evidencia_estandar: @evidencia_estandar %>

<%= link_to 'Mostrar', @evidencia_estandar %> |
<%= link_to 'Regresar', evidencia_estandars_path %>
