// import the CSS framework
@import "gritter";
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'bourbon';


.jumbotron {
  /* background-color: #424242; */ /* Gris RedES */
  color: #black;
  padding: 150px 30px;
  background-color: #FDFEFE;
}

.bg-grey {
  background-color: #f6f6f6;
  padding: 150px 30px;
}

.container-fluid {
  padding: 85px 50px;
}

.container {
  width: 1470px;
}

.logo-small {
  color: #FF0000;
  font-size: 50px;
}

.logo {
  color: #FF0000;
  font-size: 200px;
}

@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }

  .col-md-6 {
    padding: 0px 0px;
  }

  .col-sm-8 {
  width: 100%;
  align-items: center;
  }
}

.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}

.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}

.carousel-control.right, .carousel-control.left {
  background-image: none;
  background-color: #ffffff;
  color: #FF0000;
}

.carousel-indicators li {
  border-color: #FF0000;
}

.carousel-indicators li.active {
  background-color: #FF0000;
}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.panel {
  border: 1px solid #FF0000;
  border-radius:0;
  transition: box-shadow 0.5s;
}

.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
  border: 1px solid #FF0000;
  background-color: #fff !important;
  color: #FF0000;
}

.panel-heading {
  color: #fff !important;
  background-color: #424242 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.panel-footer {
  background-color: #fff !important;
}

.panel-footer h3 {
  font-size: 32px;
}

.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}

.panel-footer .btn {
  margin: 15px 0;
  background-color: #FDFEFE;
  color: #fff;
}

.navbar {
  margin-bottom: 0;
  color: black;
  z-index: 9999;
  border: 0;
  font-size: small;
  line-height: 1.42857143 !important;
  letter-spacing: 1.5px;
  background-color: #ffffff; 
  text-align: -webkit-center;
  box-sizing: border-box;
  
}

.navbar li a, .navbar .navbar-brand {
  color: black !important;
  font-size: initial;
  width: 8.5em;
  background-color: #ffffff; 
  box-sizing: border-box;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #ffffff !important;
  background-image: url('/assets/flecha_azul.png'); 
  box-sizing: border-box; 
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100%;
}


.navbar-default .navbar-toggle {
  border-color: #ffffff;
  color: #black !important;
  background-color: #ffffff;
  box-sizing: border-box;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #ffffff;  
  box-sizing: border-box;
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #FF0000;
  background-color: #fff;
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/*++++++++++++++++ mis estilos :-) ETR +++++++++++++++++++++++*/
/*++++++++++++++++ mis estilos :-) ETR +++++++++++++++++++++++*/

.imagen {
  color: #FDFEFE;
  background-color: #cccc;
   vertical-align: middle;
}

.nosotros-titulo {
  text-align: right;
  color: white;
} 

.bg-dark {
  background-color: #696969;
  padding: 30px 60px;
  margin: 126px;
  color: #e2dfdf;
}

.nosotros-enfoque{
  padding: 20px 20px;
  margin: 10px 10px;
  background-color:   #696969;
}

.manzanita {
  margin: 10px 20px;
}

.container-fluid-crud {
   padding: 50px 350px;
}

.container-fluid-grey {
  padding: 120px 22px;
  background-color: #C0C0C0;
}

.conteiner-fluid-white {
  padding: 50px 350px;
  background-color: #FFF; 
}

.container-fluid-login {
  padding: 65px 22px;
  background-color: #C0C0C0;  
}

.container-fluid-noticias {
  padding: 65px 22px;
  background-color: #C0C0C0;
  
}

.row-login {
  padding: 20px 10px;
  width: 40rem;
  margin: 8px auto;
  float: right;
}

.conoce-mas-socio {
  padding: 30px 10px;
  font-size: 20px;
  font-style: italic;
}

.socio-materiales {
  padding: 20px 20px;
  margin: 10px 10px;
  background-color:   #696969;
}

.btn-danger-registrate { 
  color: #fff;
  background-color: #D9534F;
  border-color: #d43f3a;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 25px 12px;
  line-height: 1.428571429;
  border-radius: 8px;
  width: 300px;
  height: 100px;
  font-size: 27px;
  margin-top: -50px;
  margin-left: 100px;
}

.container-fluid-eventos {
  padding: 120px 22px;
  background-color: #FFF;
}

.imagen-eventos{
  width: 80%; 
  align: center;
}

.logo-mas {
  width: 50px;
  background-color: #fff;
}



