// import the CSS framework
@import "gritter";
@import 'bootstrap';
@import 'bourbon';
@import "font-awesome"; 
@import "tooltip";
@import "footer";
 
body {
    padding-top: 150px;     
  } 

.detalle { 
    text-align: right; 
    width: 100px;
    
}

.jumbotron {
  color: black;
  margin-bottom: -135px;
  margin-top: 144px;
  background-color: #FDFEFE;
}

.bg-grey {
  background-color: #C0C1C0;
  padding: 124px 30px;

}

.negritas {
  color: black;
  margin-left: 10px;
}

.container-fluid {
  margin-bottom: -50px;
  margin-top: 144px;
  
}

.container-inicio {
  margin-bottom: -32px;
  margin-top: 60px;
  margin-left: 0px;
  padding: 10px 100px;
  /* font-family: 'Myriad Pro Light'; */
  font-size: 20px;
  text-align: -webkit-center;

  
}

.container {
  width: 1470px;
  /* font-family: 'Myriad Pro Regular'; */
}

.container-menu {
  /* font-family: 'Myriad Pro Regular'; */
  

}
.logo-small {
  color: #FF0000;
  font-size: 50px;
}

.logo {
  color: #FF0000;
  font-size: 200px;
}

@media (max-width: 6000px) {
  .body {    
    width: 100%;
  }
  .container {
    width: 100%;
    }

    .navbar {
    width: 100%
    }
  } 
  


.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
  font-size: 16px;
}

.navbar {
  margin-bottom: 0;
  margin-top: 0;
  color: black;
  z-index: 9999;
  border: 0;
  letter-spacing: 1.5px;
  background-color: white; 
  text-align: -webkit-center;
}


.item-rojo a:hover {
  background-image: url('/assets/flecha_roja.jpg'); 
  color: #ffffff;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  }
 
 
.item-gris a:hover {
  background-image: url('/assets/flecha_azul.jpg'); 
  color: #ffffff;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  } 

.item-manzanita a:hover {
  
  color: #ffffff !important;
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  }  


.icon-bar {
   background-color:black !important;
}

.navbar li a, .navbar .navbar-brand {
  color: black !important;
  font-size: initial;
  width: 8.5em;
  background-color: white; 
  box-sizing: border-box;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: black;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: white; 
    width: 180px !important;
}

.navbar-default .navbar-toggle {
  border-color: white;
  color: #black !important;
  background-color: white;
}

.navbar-default .navbar-nav > .active > a {
  background-color: white;  
  
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #FF0000;
  background-color: white;
}
 
/*++++++++++++++++ mis estilos :-) ETR +++++++++++++++++++++++*/
/*++++++++++++++++ mis estilos :-) ETR +++++++++++++++++++++++*/

.banner{
  background-color: #8E8E8D; 
  color: white;  
  position: relative;
  width: 100%;
}

.banner_backdrop {
        vertical-align: middle; 
        display: flex; 
        align-items: center; 
        position: relative;
        animation: animateBgTile linear 100s infinite; 
    }

@-webkit-keyframes animateBgTile {
   from {right: 0;} to {right: 1500px;} }
  
 
.nosotros-titulo {
  text-align: right;
  font-size: 80px;
  color: white;
} 

.bg-dark{
  background-color: #696969;
  padding: 30px 60px;
  margin: 126px;
  color: #FFFFFF;
  font-size: medium;
}

.nosotros-enfoque{
  padding: 10px 20px;
  margin-top: -300pxx;
  margin-bottom: 10px;
  background-color: #646463;
  color: white;
}

.nosotros-reconocimiento{
  background-color: red;
  color: white;
   
  margin-left: 5%;
  margin-top: -1%;
  padding: 10px 40px;
}

.manzanita {
  margin: 10px 20px;
}

.container-fluid-crud {
   margin-left: 5%;
   margin-right: 5%;
   padding: 10px 10px;
}

.socios-sombra{
  background-color: #C0C1C0;
  text-align: right;
  padding: 60px 60px;
  color: white;
}

.container-fluid-grey {
  padding: 10px 22px;
  background-color: #C0C1C0;
  height: 100%;
}

 
.conteiner-fluid-white {
  padding: 50px 350px;
  background-color: #FFF; 
}

.container-fluid-login {
  padding: 65px 22px;
  //background-color: #C0C0C0;  
  
}

.logo-login {
  background-position: left;
  background-repeat: no-repeat;
  width: 25em;
  margin-left: 50px;


}

.container-fluid-socios {
  padding: 65px 22px;
  background-color: #C0C0C0;
  
}

.row-login {
  padding: 20px 10px;
  width: 40rem;
  margin: 8px auto;
  float: right;
  /* font-family: 'Myriad Pro light'; */
  font-size: 18px;
}

.row-login-rapido {
  padding: 10px 10px;
  /* font-family: 'Myriad Pro light'; */
  font-size: 18px;
  background-color: #8E8E8D;
}

.row-registro-rapido {
  padding: 64px 20px;
  /* font-family: 'Myriad Pro light'; */
  font-size: 18px;
  background-color: #8E8E8D;
}

.conoce-mas-socio {
  padding: 30px 10px;
  font-size: 20px;
  font-style: italic;
}

.socio-materiales {
  padding: 20px 20px;
  margin: 10px 10px;
  background-color:   #696969;
}

.btn-danger-registrate { 
  color: #fff;
  background-color: #D9534F;
  border-color: #d43f3a;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 25px 12px;
  line-height: 1.428571429;
  border-radius: 8px;
  width: 300px;
  height: 100px;
  font-size: 27px;
  margin-top: -50px;
  margin-left: 100px;
}

.container-fluid-eventos {
  padding: 120px 22px;
  background-color: #FFF;
}

.imagen-eventos{
  width: 80%; 
  align: center;
}

.logo-mas {
  width: 50px;
  background-color: #fff;
}

.foto-uno {
  width: 100;
  height: 100;
  -moz-transform: rotate(-10deg);
  -o-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
.foto-dos {
  width: 100;
  height: 100;
  margin-top: 30px;
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
.foto-tres {
  width: 100;
  height: 100;
  margin-top: 50px;
  -moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.foto-cuatro {
  width: 100;
  height: 100;
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.fotos-contacto{
  margin-top: 100px;
  
}

.info-contacto{
  background-color: #3C3C3C ;
  color: white;
  padding: 50px;
}

/**** ESTILOS DEL BANNER CON GOOGLE WEB DESIGNER ****/
 
 
.gwd-span-1teu {
  font-size: 30px;
  vertical-align: middle; 
  display: flex; 
  position: inherit;
}
.gwd-span-156q {
  font-size: 25px;
  vertical-align: middle; 
  display: flex; 
  position: inherit;
}
.gwd-span-w8di {
  font-size: 15px;
  vertical-align: middle; 
  display: flex; 
  position: inherit;
}
.gwd-span-goe1 {
  font-size: 40px;
  vertical-align: middle; 
  display: flex; 
  position: inherit;
}

 
/* CERTIFICACIONES */

.sucede {
  padding: 10px 30px;
  margin-top: 50px;
  background-color: #C0C1C0;
  
}

.certificate {
  padding: 10px 30px;
  margin-top: 50px;
  background-color: #FC0107;
  color: white;
}

.ingresar-cert {
  padding: 10px 30px;
  margin-top: 50px;
  background-color: #327839;
  color: white;
  
}

.columna-ancha {
  width: 500px;
}

.columna-media {
  width: 350px;
}

.imagen-inicial {
  width: 85%;
  margin-left: 10%;
}

.imagen-nosotros{
  width: 80%; 
  align: center;
  
}

.avance {
  width: 150px;
 }

.estandar {
  width: 350px;
 }

.descripcion {
  width: 450px;
 }

 .puntaje {
  width: 150px;
 }
 
 .td-centrado {
 text-align: center;
 }
 

.logo-inicial {
  width: 40%;
  margin-left: 55%;

}

.manzana-inicial {
  width: 30%;
  align: center;
}

.certificate-inicial > p{
  margin-left: 50%;
  margin-right: 10%;
  font-size: 18px;
  /* font-family: 'Myriad Pro Regular'; */
  text-align: justify;
}

.certificacion{
  margin-top: -25%;
  color: white;
  /* font-family: 'Myriad Pro Regular'; */
  font-sizer: 20px;
}

.inicio{
  color: white;
  /* font-family: 'Myriad Pro Regular'; */
  
}

.estandar-texto-cert {
  /* font-family: 'Myriad Pro Regular'; */
  font-sizer: 20px;
  color: black;
  
}

.como-funciona-certificacion{
  color: white;
  /* font-family: 'Myriad Pro light'; */
  font-size: 18px;
  text-align: justify;
  padding: 10px 10px;
  margin-left: 15%;
  margin-right: 20%;
  background-color: #646463;
}

.como-proceso{
  /* font-family: 'Myriad Pro light'; */
  font-size: 18px;
  text-align: justify;
  margin-left: 15%;
  margin-right: 20%;
  margin-top: 10%;
  background-color: #646463;
  padding: 20px 20px;
  color: white;
  
}

#cert-niveles {
    counter-reset: li; 
    list-style: none; 
    *list-style: decimal; 
    /* font: 20px 'Myriad Pro light', 'lucida sans'; */
    padding: 0;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

#cert-niveles ol {
    margin: 0 0 0 2em; 
}

#cert-niveles li{
    position: relative;
    display: block;
    padding: .4em .4em .4em .8em;
    *padding: .4em;
    margin: .5em 0 .5em 2.5em;
    background: #ddd;
    color: #444;
    text-decoration: none;
    transition: all .3s ease-out;   
}

#cert-niveles li:hover{
    background: #eee;
}   

#cert-niveles li:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: -2.5em;
    top: 50%;
    margin-top: -1em;
    height: 2em;
    width: 2em;
    line-height: 2em;
    text-align: center;
    font-weight: bold;
}

#cert-niveles li:after{
    position: absolute; 
    content: '';
    border: .5em solid transparent;
    left: -1em;
    top: 50%;
    margin-top: -.5em;
    transition: all .3s ease-out;               
}

#cert-niveles li:hover:after{
    left: -.5em;
    border-left-color: #fa8072;             
}

.cert-bronce:before {
  background-color: #d37f3c;
}

.cert-plata:before {
  background-color: #d5dddf;
}

.cert-oro:before {
  background-color: #ecc662;
}



.subtitulo {
  padding: 40px 51px;
    text-align: center;
}

.control-busqueda {
  position: relative;
  z-index: 2;
  float: left;
  width: 69%;
  margin-bottom: 0;
  margin-left: 10%;
  box-sizing: border-box;
  -webkit-appearance: none;
}

/* SOCIOS SIDEBAR */


div#menu-side-bar {
  position: fixed;
  width: 65px;
  height: 100%;
  background-color: #2f3030;
  overflow: hidden;
  -webkit-transition: width 0.5s;
}

div#menu-side-bar:hover{
  width: 250px;
}


div#logo-sidebar {
  width: 40px;
  height: 40px;
  margin: 10px;
  background-image: url('/assets/menu.png'); 
}

div.container-sidebar {
  width: 150px;
  height: 40px;
  margin-left: 10px;
  margin-top: 20px;
}

div#container-sidebar-first {
  margin-top: 70px;
}

div.logo-interior{
  width: 40px;
  height: 40px;
  /* background-image: url('/assets/menu.png');  */
  float: left;
}

li.texto-sidebar {
  //margin-left: 0px;
  //line-height: 0px;
  //width: 100%;
}

/* Cuerpo de CERTIFICACIONES */

div#body-cert {
  margin-left: 5%;
   margin-right: 5%;
   padding: 30px 10px;
}



/* HACER LAS IMAGENES GRANDES EN HOVER */
.container-enlarge {
    display: inline-block;
    position: relative;
    margin: 15px;
}
.container-enlarge > img {
    height: auto;
    max-width: 100%;
    width: 150px;
    border-radius: 5px;
}
.container-enlarge span {
    position: absolute;
    top: -9999em;
    left: -9999em;
}
.container-enlarge:hover span {
    top: -220px;
    left: -75px;
    width: 300px;
}

.etapa-certificacion{
  background-color: #C0C1C0;
  border-radius: 8px;   
  margin-top: 10px;
  padding: 20px 10px;

}

.lista-social-links {
  font-size: 2.5em;
  
}

.cero {
 width: 0%;
 background-color: #DF0101;
 color: black;
}

.cinco {
  width: 5%;
  background-color: #DF3A01;
  color: black;
  border-radius: 21px 21px 21px 21px;
}

.diez {
 width: 10%;
 background-color: #DF7401;
 color: black;
 border-radius: 21px 21px 21px 21px;
}

.veinte {
 width: 20%;
 background-color: #DBA901;
 color: black;
 border-radius: 21px 21px 21px 21px;
}

.treinta {
 width: 30%;
 background-color: #D7DF01;
 color: black;
 border-radius: 21px 21px 21px 21px;
}

.cuarenta {
 width: 40%;
 background-color: #CCFF66;
 color: black;
 border-radius: 21px 21px 21px 21px;
}

.cincuenta {
 width: 50%;
 background-color: #31B404;
 border-radius: 21px 21px 21px 21px;
   
}

.sesenta {
 width: 60%;
 background-color: #088A85;
 border-radius: 21px 21px 21px 21px;
}

.setenta {
 width: 70%;
 background-color: #086A87;
 border-radius: 21px 21px 21px 21px;
}

.ochenta {
 width: 80%;
 background-color: #084B8A;
 border-radius: 21px 21px 21px 21px;
}

.noventa {
 width: 90%;
 background-color: #08088A;
 border-radius: 21px 21px 21px 21px;
}

.cien {
 width: 100%;
 background-color: #21FF06;
 border-radius: 21px 21px 21px 21px;
 color: black;

}

.descripcion-etapa {
  background-color: white;
  color: black;
  padding: 10px 10px;
}

.titulo-etapa {
  background-color: #9CD8E5;
  color: black;
  padding: 10px 10px;
}

.container-etapa {  
  padding: 10px 10px;
  background-color: #53AAC4;
  color: white;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

}

.container-puntos {
  padding: 15px 20px;
  background-color: #0000FF;
  color: white;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}

.container-evidencias {
  padding: 10px 10px;
  width: 50;
  //height: 550px;
  background-color: #DAD9DA;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px ;
  border: 0px solid #000000;
}

.container-revisiones {
  padding: 10px 10px;
  width: 50;
  //height: 550px;
  background-color: #ffdab9;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px ;
  border: 0px solid #000000;
}

.titulo-evidencias {
  font-size: 2em;
  text-align: center;
  background: grey;
  color: white;text-size: 10em;
  border-radius: 21px 21px 21px 21px;
  -moz-border-radius: 21px 21px 21px 21px;
  -webkit-border-radius: 21px 21px 21px 21px;
  border: 0px solid #000000;
}

.container-evidencias-subidas {
  width: 40;
  height: 400px;
  margin-left: 10px;
}

.puntos-etiqueta {
  width: 100px; 
  height: 100px; 
  border: 3px solid #fff;
  padding: 5px 10px;
}

.modificar-puntos {
    background-color: grey;
    padding: 30px 30px;
    margin-left: auto;
    width: 100%;
    color: black;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  border: 0px solid #000000;
}

.puntos-lista {
  color: black;
}

 
