// import the CSS framework
@import "gritter";
@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'bourbon';

@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src:url('MYRIADPRO-REGULAR.woff')
}

@font-face {
font-family: 'Myriad Pro Light';
font-style: normal;
font-weight: normal;
src:url('MyriadPro-Light.woff')
//src: local('Myriad Pro Light'), url('fonts/MyriadPro-Light.woff') format('woff');
}

@font-face {
font-family: 'Myriad Pro Bold';
font-style: normal;
font-weight: normal;
src:url ('MYRIADPRO-BOLD.woff')
//src: local('Myriad Pro Bold'), url('fonts/MYRIADPRO-BOLD.woff') format('woff');
}


@font-face {
font-family: 'Myriad Pro Bold Italic';
font-style: normal;
font-weight: normal;
src:url ('MYRIADPRO-BOLDIT.woff')
//src: local('Myriad Pro Bold Italic'), url('fonts/MYRIADPRO-BOLDIT.woff') format('woff');
}


.jumbotron {
  color: black;
  margin-bottom: -135px;
  margin-top: 144px;
  background-color: #FDFEFE;
}

.bg-grey {
  background-color: #C0C1C0;
  padding: 124px 30px;

}

.container-fluid {
  margin-bottom: -50px;
  margin-top: 144px;
  
}

.container-inicio {
  margin-bottom: -32px;
  margin-top: 60px;
  margin-left: 0px;
  padding: 10px 100px;
  font-family: Myriad Pro Light;
  font-size: 20px;
  text-align: -webkit-center;

  
}

.container {
  width: 1470px;
  font-family: 'Myriad Pro Regular';
}

.logo-small {
  color: #FF0000;
  font-size: 50px;
}

.logo {
  color: #FF0000;
  font-size: 200px;
}

@media (max-width: 600px) {

}

.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}

.item span {
  font-style: normal;
}

.navbar {
  margin-bottom: 0;
  color: black;
  z-index: 9999;
  border: 0;
  line-height: 1.42857143 !important;
  letter-spacing: 1.5px;
  background-color: #ffffff; 
  text-align: -webkit-center;
  box-sizing: border-box; 
}

.navbar li a, .navbar .navbar-brand {
  color: black !important;
  font-size: initial;
  width: 8.5em;
  background-color: #ffffff; 
  box-sizing: border-box;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #ffffff !important;
  background-image: url('/assets/flecha_azul.png'); 
  background-color: #ffffff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}


.navbar-default .navbar-toggle {
  border-color: #ffffff;
  color: #black !important;
  background-color: #ffffff;
}

.navbar-default .navbar-nav > .active > a {
  background-color: #ffffff;  
  
}

footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #FF0000;
  background-color: #fff;
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

/*++++++++++++++++ mis estilos :-) ETR +++++++++++++++++++++++*/
/*++++++++++++++++ mis estilos :-) ETR +++++++++++++++++++++++*/

.imagen {
  width: 1470px;
  height: 100px;
  background: #CECECE;
  background-image: url('/assets/banner.png'); 
  background-position: center;
  background-repeat: repeat;
  
  
}

.nosotros-titulo {
  text-align: right;
  color: white;
} 

.bg-dark{
  background-color: #696969;
  padding: 30px 60px;
  margin: 126px;
  color: #FFFFFF;
  font-size: medium;
}

.nosotros-enfoque{
  padding: 20px 20px;
  margin: 10px 10px;
  background-color: #646463;
  color: white;
}

.nosotros-reconocimiento{
  padding: 20px 20px;
  margin: 52px 157px;
  background-color: red;
  color: white;
}

.manzanita {
  margin: 10px 20px;
}

.container-fluid-crud {
   padding: 50px 350px;
}

.container-fluid-grey {
  padding: 120px 22px;
  background-color: #C0C1C0;
}

.conteiner-fluid-white {
  padding: 50px 350px;
  background-color: #FFF; 
}

.container-fluid-login {
  padding: 65px 22px;
  background-color: #C0C0C0;  
}

.container-fluid-socios {
  padding: 65px 22px;
  background-color: #C0C0C0;
  
}

.row-login {
  padding: 20px 10px;
  width: 40rem;
  margin: 8px auto;
  float: right;
}

.conoce-mas-socio {
  padding: 30px 10px;
  font-size: 20px;
  font-style: italic;
}

.socio-materiales {
  padding: 20px 20px;
  margin: 10px 10px;
  background-color:   #696969;
}

.btn-danger-registrate { 
  color: #fff;
  background-color: #D9534F;
  border-color: #d43f3a;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  padding: 25px 12px;
  line-height: 1.428571429;
  border-radius: 8px;
  width: 300px;
  height: 100px;
  font-size: 27px;
  margin-top: -50px;
  margin-left: 100px;
}

.container-fluid-eventos {
  padding: 120px 22px;
  background-color: #FFF;
}

.imagen-eventos{
  width: 80%; 
  align: center;
}

.logo-mas {
  width: 50px;
  background-color: #fff;
}



