.container-calendario {
    margin-top: 0px;
    width: 80%;
    margin-left: 70px;
  }
   
 .fc-day-header  {
     background-color: #ED1C24;
     color: white;
     padding: 10px;
     text-transform: capitalize;
     font-size: larger;
 
 }

.fc-day-number {
    font-size: initial;
}

.fc-event {
 font-size: 1rem;   
}