 .container-chat {
  max-width: 80em;
  margin-right: 50px;
  margin-top: 5%;
}

.header-chat {
  background: rgba(0, 0, 0, .05);
  border-radius: 3px;
  margin: 0 0 1em;
  padding: .5em;
}

.chat {
  height: 20em;
  width: 100%;
}

.messages {
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 3px;
  height: 25em;
  margin: 0 0 .5em;
  overflow-y: scroll;
  padding: .5em;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}

.chat-hora {
   font-size: smaller;
   text-align: right;
}

.usuarios-chat {
  margin-top: 65px;
  -webkit-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.5);
}


.message {
  .user {
    font-weight: bold;
    &.me {
      color: #b6191e;
    }
  }
}

.other-links {
  margin: .5em 0 0;
}