#footer {
  position: relative;
  bottom: -0.75em;
  width: 100%;
  height: 1rem;            /* Footer height */
  text-align: left;
  margin-left: 2em;
}

#page-container {
  position: relative;
  min-height: 73vh;
  margin-left: 5em;
}

#content-wrap {
  padding-bottom: 1.5rem;    /* Footer height */
}

 