#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2rem;            /* Footer height */
  text-align: center;
}

#page-container {
  position: relative;
  min-height: 78vh;
  margin-left: 5em;
}

#content-wrap {
  padding-bottom: 1.5rem;    /* Footer height */
}

 