.titulo{
    display: table-cell;
    padding: 12px;
    background: #696969;
    text-align: center;
    border: 4px solid #fff;
    color: #fff;
  }
  
  .aviso-titulo-archivo {
    padding: 20px 0px;
  }

.puntaje {
    width: 15%;
  }

.estatus {
    width: 20%;
  }

.detalle-estandar {
    text-align: justify;
    margin-left: -20px;
  }

  .detalle-descripcion {
    text-align: justify;
    margin-left: 2px;
  }

  .detalle-avance {
    margin-left: 40px;
    margin-right: -40px;
    text-align: center;
  }

  .detalle-estatus {
    margin-left: 23px;
    text-align: right;
    margin-right: -40px;
  }

  .detalle-puntos-cumplidos {
    margin-left: 40px;
    margin-right: -30px;
    text-align: center;
  }

  .detalle-puntos-totales {
    margin-left: 20px;
    margin-right: -40px;
    text-align: center;
  }

  .detalle-non{
    display: table-cell;
    padding: 12px;
    background: #a4aaa7;
    width: 20%; 
    border: 4px solid #fff;
    color: #000;
    text-align: center;
  }
  .detalle-par{
    display: table-cell;
    padding: 12px;
    background: #cfcfcf;
    width: 20%; 
    border: 4px solid #fff;
    color: #000;
    text-align: center;
  }

  .rojo {
    background-color: #ED1C24;
    color: black;
    border-radius: 21px 21px 21px 21px;
  } 
  

  .naranja {
        background-color: #DF7401;
        color: black;
        border-radius: 21px 21px 21px 21px;
  }
  .verde {
    background-color: #009444;
    color: black;
    border-radius: 21px 21px 21px 21px;
  } 

  .decorativo {
    width: 100%;
    height: 8rem;
    border-left: solid #ED1C24;
    border-bottom: solid #ED1C24;
    border-width: 0.5rem;
    margin-top: -7rem;
    margin-left: -1rem;
  }

  .decorativo-estandar {
    width: 100%;
    height: 42rem;
    border-left: solid #ED1C24;
    border-bottom: solid #ED1C24;
    border-width: 0.5rem;
    
    margin-top: -40rem;
    margin-left: -1rem;
  }

  .borde-rojo {
    border-color:  #ED1C24;
    border-width: thick;
  }

  .tabla-avisos {
    width: 80%;
    margin-left: 10rem;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 1.5rem;
     
  }

   

   td {
    padding: 8px;
    line-height: 1.428571429;
    vertical-align: top;
    border-top: 1px solid black;
     
  }

  @media screen and (max-width: 1100px) {

    table {
        width:100%;
    }
    thead {
        display: none;
    }
     
    tbody td {
        display: block;
        text-align:center;
        width:100%;
    }

    .titulo-cert-escolar {
        display: none;
    }

    .detalle-descripcion {
        display: none;
    }
    
    .detalle-puntos-totales { 
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
    }

    .detalle-puntos-totales:before {
      content: "Puntos totales: ";
      color: white;
    }

    .detalle-puntos-cumplidos {
      margin-left: 20px;
      margin-right: 20px;
      text-align: center;
    }
    .detalle-puntos-cumplidos:before {
      content: 'Puntos cumplidos: ';
      color: white;

    }

    .detalle-avance {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .detalle-estatus {
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
    }

    .detalle-estatus:before {
      content: 'Estatus: ';
      color: white;
    }

    .fondo-gris {
      width: 100%;
      margin-top: 10px;
      margin-left: -10px;
    }

    .boton-estandar {
      width: 100%;
    }
    .decorativo-estandar {
      margin-top: -40rem;
      }
    
}

@media screen and (max-width: 990px) {
  .boton-estandar {
    width: 80%;
    margin-top: 10px;
  }

  .decorativo-estandar {
  margin-top: -46rem;
  }

  .fondo-gris {
    width: 100%;
    margin-top: 10px;
    margin-left: -10px;
  }

}

  